* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;


    background: #3a7bd5;
}

.page-container {
    min-height: 100vh;
    display: flex;
}

.dashboard-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards {
    width: 40%;
    display: flex;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;

    padding: 35px 28px;

    color: gray;
    background-color: #FFFFFF;
}

.header {
  height: 70px;
  width: 100%;
  color: #f0f0f0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #FFFFFF;
  padding: 0 20px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.logo-container .stuklogo {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.logo-container .stuklogoBranco {
    max-width: 800px;
    width: 100%;
    height: auto;
}

.cabecalho {
    width: 65%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-start;
}

.totalizadores-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    padding: 20px;
}

.menu-actions {
    display: flex;
    gap: 20px;
}

.inputs {
    width: 65%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-start;
}

.botao-principal {
    padding: 12px 28px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

    text-align: center;
    color: white;

    background-color: #044cb6;
    background: linear-gradient(135deg, #3b82f6, #1d4ed8);
}

.botao-principal:hover {
    transform: translateY(-2px);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
