.menu-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 20px;
    background: linear-gradient(135deg, #a2c4f9, #dbdee1);
}

.menu-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.menu-logo .stuklogo {
    max-width: 800px;
    width: 100%;
    height: auto;
}